.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 50, 71);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 60px 0px 60px 0px;
}
.title{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.scoreBoard{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
.playerBoard,.computerBoard{
    border-color: white;
    border-style: solid;
    width:110px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.playerScore,.computerScore{
    font-size: 20px;
}
.youTitle,.computerTitle{
    font-weight: bold;
}
.result{
    padding: 20px;
}
.move{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.selectMove{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    background-color: white;
}
.rock{
    background-image:url('image/raise-hand.png');
    background-repeat: no-repeat;
    background-size: 70px;
    background-position:center;
}
.paper{
    background-image: url('image/hand_paper_icon_194460.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 18px 19px;
}
.scissors{
    background-image: url('image/scissors_39412.png');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
.result{
    font-size: 20px;
}